.news-detail {
  width: 80vw;
  min-height: 100vh;
  position: absolute;
  right: 0;
  display: flex;

  background-color: #f2f5f8;
  flex-direction: column;

  /* height: 80%; */
  padding: 2.5rem;
}

.news-detail p {
  font-size: 0.85rem;
  line-height: 1.5rem;
}
