.map-info-window {
  background-color: white;
  padding: 0.75rem;
  width: 40%;
  padding-top: 0.5rem;
  display: flex;
  position: relative;
  border: 1px solid black;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 50;
  /* clip-path: polygon(100% 0, 100% 90%, 50% 90%, 48% 100%, 45% 89%, 0 89%, 0 0); */
}

.map-info-window-img {
  flex: 1;
}
.map-info-window img {
  width: 100%;
}
.map-info-window-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.map-info-window-content h3 {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.map-info-window ul {
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-between;
}
.map-info-window ul li {
  text-decoration: none;
  list-style: none;
  display: flex;
  column-gap: 1rem;
}
