.btn {
  padding: 0.65rem 0.5rem;
  font-size: 0.65rem;
  box-sizing: border-box;
  border: none;
  width: 5rem;
  cursor: pointer;
  /* outline: 1px solid black; */
}

.btn-grey {
  background-color: #adb5bd;
  color: black;
}
.btn-black {
  background-color: black;
  color: white;
}
