.sidebar {
  min-height: 100vh;
  /* top: 0; */
  /* left: 0; */
  position: fixed;
  width: 20vw;
  /* color: #495057; */

  flex-direction: column;
  display: flex;
}

.sidebar-details {
  width: 80vw;
  min-height: 100vh;
  position: absolute;
  right: 0;
  display: flex;
  background-color: #f2f5f8;
  flex-direction: column;
  padding: 2.5rem;
}

.sidebar_logo {
  padding: 1.8rem;
  box-sizing: border-box;
  width: 12rem;
}
.sidebar_logo img {
  width: 100%;
}

.sidebar_details ul {
  margin-top: 2.5rem;
  list-style: none;
  /* margin: 0; */
  padding: 0;
}

.sidebar_details ul li {
  padding: 0.65rem;
  box-sizing: border-box;
  display: flex;
  font-size: 0.8em;
  flex-direction: row;
  width: 100%;
  padding-left: 1.8rem;
}

.sidebar_details ul li span {
  padding-left: 1.2rem;
}

.sidebar_details ul li:first-child {
  width: 0.5rem;
}

.sidebar_active :before {
  content: "";
  position: absolute;
  left: 0;
  width: 0.5rem;
  background-color: black;
  display: block;
  height: 2.5rem;
  transform: translateY(-0.75rem);
}
.sidebar_active {
  font-weight: 800;
}

.settings_profile {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.overview_details > * {
  background-color: white;
  /* background-color: transparent; */
}
.settings_profile ul {
  display: flex;
  flex-direction: column;
}
.settings_profile ul li {
  list-style: none;
  padding: 0.55rem;
  font-size: 0.8rem;
  display: flex;
  padding-left: 1.8rem;

  box-sizing: border-box;
  /* padding-left: 1.8rem; */
}
.settings_profile ul li span {
  padding-left: 1.2rem;
}

.link_el {
  display: flex;
  text-decoration: none;
  color: black;
}
