.filter-component {
  padding: 1.5rem;
  outline: 1px solid black;
  width: 60%;
  font-size: 70%;
  box-sizing: border-box;
  margin-left: 20%;
  margin-top: 7.5%;
}

.filter-listing-details {
  display: flex;
  gap: 3rem;
  position: relative;
}
.filter-header {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 1.2rem; */
}
.filter-header h3 {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.35rem;
}
.filter-component h4 {
  margin-bottom: 1rem;
  font-size: 0.85rem;
  font-weight: 200;
}

.filter-listing-column-1,
.filter-listing-column-2,
.filter-listing-column-3 {
  flex: 1;
}

.filter-listing-column-2:before,
.filter-listing-column-3:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: black;
  display: block;
  transform: translate(-1rem, -0.75rem);
}
.amenities-input-grid input[type="checkbox"] {
}

.filter-property-details {
  width: 70%;
  display: flex;
  height: 10rem;
  margin-top: 3rem;
  justify-content: left;
  gap: 3rem;
}
.filter-property-details-btns {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}
.filter-property-details-btns button {
  all: unset;
  border: 1px solid black;
  padding: 0.75rem;
  padding-bottom: 0.25rem;
  font-weight: 400;
  gap: 1rem;
  margin-right: 1rem;
  display: flex;
  font-size: 0.8rem;
}
.filter-property-details-btns :first-child {
  margin-right: auto;
}
.filter-property-details-btns .apply-filter {
  color: white;
  background-color: grey;
  border: none;
}

.filter-component label {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.filter-component input[type="date"] {
  all: unset;
  padding: 0.5rem;
  border: 1px solid black;
}

.filter-listing-column-1 input[type="checkbox"] {
  all: unset;
  margin-right: 0.5rem;
  border-radius: 4rem;
}

.filter-listing-column-1 input[type="checkbox"]::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  padding: 0.2rem;
  outline: 1px solid #000;
  border-radius: 3rem;
  background-color: #fff;
  box-sizing: border-box;
  position: absolute;
}

.filter-listing-column-1 input[type="checkbox"]:checked::before {
  background-color: #000;
}

.filter-property-details-column-1 select {
  width: 100%;
}

.filter-property-details-column-1 input[type="number"] {
  width: 40%;
  box-sizing: border-box;
  height: 2rem;
  margin-right: 5%;
  padding-left: 1rem;
}
.filter-component input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 0.2rem;
  border-radius: 50px;
  background: grey;
  outline: none;
  /* opacity: 0.7; */
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.filter-component input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: white;
  padding: 0.5rem;
  outline: 1px solid black;
  cursor: pointer;
}

.filter-component input[type="range"]::-moz-range-thumb {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: white;
  padding: 0.5rem;
  outline: 1px solid black;
  cursor: pointer;
}

.flex-content {
  display: flex;
  column-gap: 1rem;
}
